*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
header{
    background-color:#FFF8F3;
    background-image: url("images/developer.png") , url("images/header_bg.png");
    background-repeat:no-repeat;
    background-position:8em 4em, bottom right;
    padding-top:50px;
    width:100%;
  

}
div.logo{
    font-size:45px;
    font-weight:800px;
}
.color-orange{
    color:#FD6E0A;
}

nav.container{
    display:flex;
    justify-content:space-between;
    align-items:center;

    max-width:1140px;
    width:100%;
    /* border:2px solid black; */
     
    margin-left:auto;
    margin-right:230px;
}

nav .menu{
    display:flex;
    gap:51px;
    list-style-type:none;
    align-items:center;

}
nav a{
    text-decoration:none;
    color:#474747;
    font-size:20px;
    font-weight:400px;
}

nav button{
    color:white;
    background-color:#FD6E0A;
    width:150px;
    height:65px;
    font-size:20px;
    font-weight:700px;
    border:none;
    border-radius:5px;
    cursor:pointer;

}
nav button:hover{
    background-color:rgb(166, 87, 59);
}

section {
    display:flex;
    max-width:1332px;
    width:100%;

    /* border:2px solid black; */
    margin-left:auto;
    margin-top:48px;
    margin-right:38px;


}

#banner .banner-content{
    max-width:585;
    margin-top:136px;
    margin-bottom:184px;
    margin-right:163px;
}

.banner-content h2{
    font-weight:600px;
    font-size:45px;
    color:#474747;
    margin-bottom:5px;


}

.banner-content h1{
    font-weight:700px;
    font-size:85px;
    color:#181818;

}
.banner-content p{
    font-size:18px;
    font-weight:400px;
    color:#757575;
    margin-top:20px;
    line-height:30px;
    margin-bottom:30px;
    text-transform:capitalize;

}

#banner .btn{
    background-color:#FD6E0A;
    margin-left:1em;

    color:white;
    font-weight:700px;
    font-size:20px;

    border:none;
    border-radius:5px;

    padding:19px 17px 18px;
    cursor:pointer;
}
#banner .btn:hover{
    background-color:rgb(166, 87, 59);
}

#banner .btn2{
    border:2px solid  #FD6E0A;
    border-radius:5px;
    color:#FD6E0A;
     

    font-weight:700px;
    font-size:20px;

    padding:18px 17px 18px;
    cursor:pointer;

}
#banner .btn2:hover{
    background-color:lightgray;
}

.btn-container{
    display:flex;
    gap:30px;
}

#banner .banner-img img{
    max-width:584px;
    vertical-align:middle;
}

#about{
    max-width:1140px;
    width:100%;
    /* border:1px solid black; */
    background-color:#FFF8F3;
    
    /* margin-top:130px; */
    margin-right:300px;
    margin-left:auto;
    justify-content:center;
    height:500px;
}

#about .about-container{
    width:70%;
    max-width:1000px;

    margin:130px 80px;
    /* border:1px solid red; */

}

#about .about-container h3{
    font-weight:700px;
    font-size:35px;
    color:#181818;
    text-align:center;   
}
#about .about-container p{
    font-weight:400px;
    font-size:18px;
    
    color:#757575;

    text-transform:capitalize;
    text-align:center;

    margin-top:30px;
    /* padding:10px; */

   
  text-align: center;     
  max-width: 800px;        
  /* margin: 0 auto;          */
  line-height: 1.6;        
  color: #666;             
  font-family: sans-serif;

}

#about .about-contact{
    display:flex;
    justify-content:space-around;

}
#about .about-container div{
    text-align:center;
    font-weight:400px;
    font-size:20px;
    
    color:#757575;

}

#about .info1 .info2 .info3 .info4{
    font-weight:600px;
    font-size:20px;
}

.skill{
    width:100%;
    max-width: 1140px;
    display:flex;
    flex-wrap:wrap;

    /* border:1px solid black; */

    margin-left:auto;
    margin-right:300px;
    margin-top:130px;
}

.section-heading{
    width:100%;
    max-width:800px;

    /* border:1px solid black; */
    margin:0 170px;
    
}

.section-heading h2{
    font-size:35px;
    font-weight:700px;
    color:#181818;
    text-align:center;
}
.section-heading p{
    font-weight:400px;
    font-size:18px;
    color:#757575;

    text-transform:uppercase;
    text-align:center;
    margin-top:30px;
}
.skill-box{

    /* border:1px solid black; */
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.js, .react, .nodejs, .mongo{
    padding:20px;
    /* border:1px solid black; */
    flex:1;
    background-color:#FFFFFF;
    box-shadow:10px -8px 20px #e8e8e8bf;

    border-radius:5px;
    margin-top:50px;
}
.jsinfo, .reactinfo, .nodeinfo, .mongoinfo{
    padding:20px;
    /* border:1px solid black; */
    flex:1;
    background-color:#FFFFFF;
    box-shadow:10px -8px 20px #e8e8e8bf;

    border-radius:5px;
    margin-top:20px;
} 
.jsinfo p, .reactinfo p, .nodeinfo p, .mongoinfo p{
    font-weight:400;
    font-size:16px;
    color:#757575;
    text-transform:capitalize;
}

.jsinfo, .reactinfo, .nodeinfo, .mongoinfo h2{
    font-weight:700;
    font-size:20px;
    color:#181818;
    
}
#resume{
    width:100%;
    max-width:1140px;
     display:flex;
     flex-wrap:wrap;
    margin-left:auto;
    margin-right:300px;
    margin-top:200px;
}

#resume .resume-container{
    display:flex;
    /* justify-content: space-between; */
    gap:24px;
    margin-top:130px;
    
}
#resume h1{
    font-weight:700;
    font-size:35px;
    /* text-align:center; */
    margin-left:auto;
    margin-right:343px;
}
.education h2, .experience h2{
    font-weight:700;
    font-size:30px;
    color:#474747;
}



.card-title{
    margin-top:30px;
    font-weight:700;
    font-size:25px;
    color:#474747;
}
    

.card-info{
     font-weight:600;
    font-size:20px;
    color:#757575;
    margin-top:10px;
}

 .card-text{
    /* max-width:411px; */
     font-weight:400;
    font-size:16px;
    color:#757575;
    margin-top:20px;
 }

.secondbtn{
     background-color:#FD6E0A;
    /* margin-left:1em; */
    margin-top:50px;
    margin-left:auto;
    margin-right:485px;
    /* text-align:center; */

    color:white;
    font-weight:700px;
    font-size:20px;

    border:none;
    border-radius:5px;

    padding:19px 17px 18px;
    cursor:pointer;
}
.secondbtn:hover{
    background-color:rgb(166, 87, 59);
}