*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
header{
    background-color:#FFF8F3;
    padding-top:50px;
    width:100%;
  

}
div.logo{
    font-size:45px;
    font-weight:800px;
}
.color-orange{
    color:#FD6E0A;
}

nav.container{
    display:flex;
    justify-content:space-between;
    align-items:center;

    max-width:1140px;
    width:100%;
    /* border:2px solid black; */
     
    margin-left:auto;
    margin-right:230px;
}

nav .menu{
    display:flex;
    gap:51px;
    list-style-type:none;
    align-items:center;

}
nav a{
    text-decoration:none;
    color:#474747;
    font-size:20px;
    font-weight:400px;
}

nav button{
    color:white;
    background-color:#FD6E0A;
    width:150px;
    height:65px;
    font-size:20px;
    font-weight:700px;
    border:none;
    border-radius:5px;

}

section {
    display:flex;
    max-width:1332px;
    width:100%;

    /* border:2px solid black; */
    margin-left:auto;
    margin-top:48px;
    margin-right:38px;


}

#banner .banner-content{
    max-width:585;
    margin-top:136px;
    margin-bottom:184px;
    margin-right:163px;
}

.banner-content h2{
    font-weight:600px;
    font-size:45px;
    color:#474747;
    margin-bottom:5px;


}

.banner-content h1{
    font-weight:700px;
    font-size:85px;
    color:#181818;

}
.banner-content p{
    font-size:18px;
    font-weight:400px;
    color:#757575;
    margin-top:20px;
    line-height:30px;
    margin-bottom:30px;
    text-transform:capitalize;

}

#banner .btn{
    background-color:#FD6E0A;
    margin-left:1em;

    color:white;
    font-weight:700px;
    font-size:20px;

    border:none;
    border-radius:5px;

    padding:19px 17px 18px;
}

#banner .btn2{
    border:2px solid  #FD6E0A;
    border-radius:5px;
    color:#FD6E0A;
     

    font-weight:700px;
    font-size:20px;

    padding:18px 17px 18px;


}

.btn-container{
    display:flex;
    gap:30px;
}
